/* TableComponent.css */

.table-container {
  overflow-x: auto;
  background-color: #e6f7ff; /* light blue */
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background: linear-gradient(to bottom, #b3d9ff, #99ccff); /* gradient */
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* alternate row color */
}

tfoot {
  font-weight: bold;
}

.small-cell {
  width: 20%; /* Adjust width as needed */
}

#hashLoader{
flex: 1;
text-align: center;
margin-top: 100px;
}

