table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid #000000;
  
  
}

th, td {
   text-align: left;
   vertical-align: top;
   border: 1px solid #000; 
   padding-left: 3px;
   padding-right: 3px;
   font-size: 16px;
}
caption{
   padding:5px ;
    font-size: 20px;
    text-align: center;
   vertical-align: top;
   border: 1px solid #000; 
   
}
.tableContainer{
   display: flex;
   justify-content: center;
  
   
}

span{
    
    padding-left: 3px;
   padding-right: 3px;
}

.numero,.apellido{
   background-color: #000;
   color: white;
}
.T,.P,.N{
   background-color: #969696;
   color: white;
}
.C{
   color: white;
}
.catedra{
   margin-left: 10%;
}
.titulo-cursiva{
   font-size: 12px;
   font-style: italic;
}
.apellido-nombre{
   text-align: left;
}
.vista-buton-container{
   display: flex;
   flex-direction: row;
}
.comisiones-imprimir{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

#columnaOrden{
   width: 30px;
}
#columnaComision{
   width: 30px;
}
@media print{
.imprimir-container{
     display: flex;
     justify-content: center;
    }
}

@media screen and (max-width: 768px) {
  
  #tableContainer{
   display: flex;
   justify-content: center;
   
 
   
}
#columnaOrden{
   width: 10px;
}
#columnaComision{
   width: 10px;
}

}